fastapi==0.109.0
uvicorn[standard]==0.27.0
pydantic==2.5.3
python-dateutil==2.8.2
yfinance==0.2.36
finance-datareader
feedparser
pandas
lxml
requests
beautifulsoup4
google-auth
gspread
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
